.links {
	height: 100px;
	width: 100%;
	background-color: #ABCDEF;
	opacity: 0.8;
}

.inLinks {
	position: relative;
	top: 50%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: "Courier New", Arial, Verdana;
	font-size: 125%;
	font-weight: bold;
	color: purple;
	background-color: white;
	padding: 25px 10% 25px 25px;
	margin-left: 1%;
}
